## Github Actions Secrets - NOT NECESSARY FOR LOCAL DEV ENVIRONMENT
CLOUDFLARE_ACCOUNT_ID=
DATABASE_ID=
CLOUDFLARE_API_TOKEN=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=

## Cloudflare Worker Secrets
TURNSTILE_SECRET_KEY=

### If using Resend
RESEND_API_KEY=

### If using Brevo
BREVO_API_KEY=
